.personalData {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    gap: 2rem;
    color: #FFF;

    .mention {
        width: 100%;
        box-sizing: border-box;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: justify;
        background-color: rgba($wrong, 0.7);
    }

    .toolBar {
        font-size: 1rem;
    }
}