.loading {
    position: absolute;
    top: -3px;
    left: -3px;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    pointer-events: none;
    opacity: 0;
    transition: backdrop-filter 0.3s, opacity 0.3s;

    &[data-show=true] {
        opacity: 1;
        pointer-events: initial;
        backdrop-filter: blur(3px);

        div {
            transform: translateY(0);
        }
    }

    div {
        border-radius: 0.4rem;
        width: 0.8rem;
        height: 1rem;
        background-color: $context;
        animation: loading-animation linear 1s infinite forwards;
        transition: transform 0.3s;
        transform: translateY(-3rem);

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: ($i - 1) * 0.2s;
            }
        }

        @keyframes loading-animation {
            0% {
                height: 1rem;
            }

            24% {
                height: 2.5rem;
            }

            48% {
                height: 1rem;
            }
        }
    }
}