.memberCard {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: 0.1rem solid rgba($context, 0.3);
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .avatarBar {
        display: flex;
        height: 1.75em;
        width: 100%;
        align-items: center;
        gap: 0.6em;
        font-size: 0.9em;

        img {
            height: 100%;
            border-radius: 50%;
        }
    }

    .field {
        width: calc((100% - 1.5rem) / 4);

        @include width-not-enough(64rem) {
            width: calc((100% - 1.5rem) / 3);
        }

        @include width-not-enough(42rem) {
            width: calc((100% - 1.5rem) / 2);
        }

        .key {
            font-size: 0.8em;
            color: rgba($context, 0.5);
        }

        .value {
            text-wrap: nowrap;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;

            &[data-status=true] {
                color: $accept;
            }

            &[data-status=false] {
                color: $wrong;
            }
        }
    }
}