.registerPage {
    width: min($content-width, 42rem);
    margin: auto;
    padding: 4.5rem 0;

    h1 {
        text-align: center;
        color: $primary-50;
    }

    .tabBar {
        display: flex;
        margin: 1.5rem 0;

        a {
            padding: 0.15rem 1rem;
            color: rgba($context, 0.3);
            border: 0.05rem solid rgba($context, 0.3);
            transition: color 0.3s, border-color 0.3s;

            &:hover,
            &[data-selected=true] {
                color: $context;
                border-color: $context;
            }

            &:first-child {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:last-child {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }
        }
    }
}